@model MachineMonitoring.Models.AutoTicketModel

@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AutoTicket | MDM</title>

	<link rel="icon" type="image/png" href="~/img/icon3.png" />
	<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
	<link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
	<style>
		h5{
			background-color: lightgreen;
			padding: 15px;
			border-radius: 15px;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light ml-0">
			<ul class="navbar-nav ml-2">
				<li class="nav-item">
					<a class="navbar-brand">
						<img src="@Url.Content("~/img/icon3.png")" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8;border: solid 1px dimgray; width:4%">
						<span class="brand-text font-weight-strong" style="color:dimgray">Machine Downtime Monitoring</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>


	<div class="container col-sm-6 mt-5">
		<div class="card card-outline">
			<div class="card-header">
				<h3> <i class="fas fa-stopwatch mr-2"></i> Machine Downtime </h3>
			</div>

			@if (ViewBag.Result != "False")
			{
				<form method="POST" asp-controller="AutoTicket" asp-action="CreateOwsTicket">
					<div class="card-body">
						@if(ViewBag.Message != null)
						{
							<h5 class="mb-3"> <i class="fas fa-check mr-2"></i> @ViewBag.Message</h5>
						}

						<div class="form-group">
							<label for="machineCode">Machine Code</label>
							<input type="text" class="form-control" id="machineCode" name="MachineCode" value="@Model.MachineCode" readonly />
						</div>

						<div class="form-group">
							<label for="PlantNo">Plant No</label>
							<input type="number" class="form-control" id="PlantNo" name="PlantNo" value="@(Model.PlantNo.ToString())" readonly />
						</div>

						<div class="form-group">
							<label for="Process">Process</label>
							<input type="text" class="form-control" id="Process" name="Process" value="@Model.Process" readonly />
						</div>

						<div class="form-group">
							<label for="Area">Area</label>
							<input type="text" class="form-control" id="Area" name="Area" value="@Model.Area" readonly />
						</div>
					</div>

					<div class="card-footer d-flex justify-content-end">
						<button type="submit" id="saveButton" class="btn btn-primary w-25"> Send <i class="fas fa-paper-plane ml-2"></i></button>
					</div>
				</form>
			}
			else
			{
				<div class="card-body">
					<h2>@ViewBag.Message</h2>
				</div>
			}
		</div>
	</div>

	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/dist/js/adminlte.js"></script>
</body>
</html>

